// Paleta de colores:
:root {
  --color-first: #c21c1c;
  --color-border: #dfe0e0;
  --color-alert: #ff3c32;
}

// Color variables:
$color-background: #0a1016;
$second-background: #2c2c2c;
$color-main: #c21c1c;
$color-black: #000000;
$color-white: #f0f0f0;

// Variables de apilamiento (z-index)
:root {
  --z-doubleback: -20;
  --z-back: -10;
  --z-middleback: -5;
  --z-normal: 1;
  --z-positivenormal: 5;
  --z-tooltip: 10;
  --z-doubletooltip: 20;
  --z-fixed: 100;
  --z-modal: 1000;
}

// Fuentes
$roboto-family: 'Roboto', Arial, Helvetica, sans-serif;
$pridi-family: 'Pridi', Arial, Helvetica, sans-serif;
$source-sans-pro-family: 'Source Sans Pro', sans-serif;
$racing-sans-one-family: 'Racing Sans One', Arial, Helvetica, sans-serif;

// Breakpoints
$breakpoints: (
  400: 400px,
  640: 640px,
  760: 770px,
  1024: 1024px,
);
